# Server & Build Worker Configuration
PORT=3000
MAX_UPLOAD_SIZE=524288000
BUILD_TIMEOUT=600000
BUILD_WORK_DIRECTORY=./temp_builds
UPLOAD_DIRECTORY=./uploads
APK_RETENTION_TIME=3600000
ANDROID_SDK_ROOT=/opt/android-sdk
